DJANGO_SECRET_KEY=django-insecure-3bj_e-p1kcy=60d8g==elrf@1+chs&c9h!d2z$s3m8t^cy@fhx
DEBUG=1
ALLOWED_HOSTS=*

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3

CLOUDINARY_CLOUD_NAME=Okar
CLOUDINARY_API_KEY=362847916545362
CLOUDINARY_API_SECRET=VNYF99qqxKuIsaYrDvamh2jM5UE
